*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.content{
    width: 83%;
    min-height: 500px;
    margin: auto;
}
.bolder{
    font-weight: bolder;
}
.navbar{
    height: 40px;
    width: 80%;
    background-color: #374341;
    padding: 15px;
    padding-top: 20px;
    color: #E0E2DB;
    margin: auto;
    border-bottom: 3px solid #889696;
    border-left: ;
    border-left: ;
    border-left: ;
}
.nav-search{
    height: 30px;
    width: 250px;
    border-radius: 6px;
    border: 3px solid #889696;
    color: #3821B3;
}
.logIn{
    height: 30px;
    width: 100px;
    border: 3px solid #889696;
    border-radius: 6px;
}
.cards{
    flex: 6;

}
.ninja-cards{
    flex: 6;
    height: 150px;
    border: 2px solid #889696 ;
    padding: 15px;
    margin: 10px 10px 10px 0px;
}
.add-definition-card{
    flex: 3;
    height: 120px;
    border: 2px solid #889696 ;
    padding: 15px;
    margin: 10px 0px 10px 10px;
}
.definition{
    margin: auto auto auto 15px;
}
button{
    background-color: #FCAB64;
    border-radius: 6px;
    padding: 3px;
}
